{% load static %}

<!doctype html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta name="viewport"
          content="width=device-width, user-scalable=no, initial-scale=1.0, maximum-scale=1.0, minimum-scale=1.0">
    <meta http-equiv="X-UA-Compatible" content="ie=edge">
    <link rel="stylesheet" href="{% static 'accounts/css/account.css' %}">
    <title>log in</title>
</head>
<body>
    <div class="cotnainer">
         <a href="{%  url 'home' %}">
            <img src="{% static 'main/images/logo.png' %} " alt="" class="logo">
        </a>
        <div class="login-container">
            <h1 class="login-header">Log In</h1>

            <form action="" method="post">
                {% csrf_token %}
                <input type="text" name="username" placeholder="User name">
                <input type="password" name="password" placeholder="password">
                <input type="submit" name="" value="Log In" id="login">
                <a href="{% url 'resset' %}">Forget password</a>
            </form>
        </div>
    </div>
</body>
</html>