{% load static %}

<!doctype html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta name="viewport"
          content="width=device-width, user-scalable=no, initial-scale=1.0, maximum-scale=1.0, minimum-scale=1.0">
    <meta http-equiv="X-UA-Compatible" content="ie=edge">
    <link rel="stylesheet" href="{% static 'main/css/index.css' %} ">
    <title>Home page</title>
</head>
<body>
    <div class="container">

        <div class="container-inner">
            <div class="header">
            <!-- logo-->
                <div class="logo-box">
                     <a href="{% url 'home' %}">
                        <img src="{% static 'main/images/logo.png' %} "  class="logo" alt="">
                     </a>
                </div>

            <!--Navigation bar -->
                <nav class="mobile-nav">
                    <a href="{% url 'home' %}" class="home_text">
                        Home
                    </a>

                    <a href="{% url 'jobs' %}" class="jobs_text">
                        Jobs
                    </a>
                </nav>



                {% if request.user.is_authenticated %}
                     <div class="logged-user">
                          <span>hello</span><p class="hello-user">{{ user }}</p>

                         <a href=" {% url 'FreelanerGeorgia:freelancer_create' %}  ">
                             <button class="btn-user">Main Page</button>
                         </a>

                         <form class="logout" method="post" action="{% url 'logout' %}">
                            {% csrf_token %}
                            <button class="out" type="submit">Logout</button>
                         </form>

                         <a href="{% url 'jobs' %}" >
                            <button class="out" type="submit">Jobs</button>
                         </a>
                     </div>

                 {% else %}


            <!--Btn Mobile-->

                <div class="btn-desktop-box">

                        <a href="{% url 'login' %}">
                            <button class="signup" type="submit">Log In</button>
                        </a>

                        <a href="">
                            <button class="signup" type="submit">Create  Profile</button>
                        </a>
                </div>

                {% endif %}

                <form class='search' action="{% url 'search' %}" method="post">
                    {% csrf_token %}
                    <input class="search-input"  type="text" name="search" placeholder="Search...">
                    <button class="searchbtn" type="submit">Search</button>
                </form>


            <!--Btn Mobile-->
                <div class="btn-mobile-box">
                    <h2 class="burger">︾</h2>
                </div>
            </div>
        </div>
    </div>


     <h1 class="freelancer_header">Freelancer List</h1>
  <div class="freelancer_main">
       <div class="freelancer_inner">
            <ul>
      <form action="" method="post" enctype="multipart/form-data">
    {% csrf_token %}

    {% for freelancer in freelancers %}
          {% if freelancer.cover_img %}
            <img class="cover_img" src="{{ freelancer.cover_img.url }}">
         {% endif %}
        <li>
            <p>Name: {{ freelancer.name }}</p>
            <p>Last Name: {{ freelancer.last_name }}</p>
            <p>{{ freelancer.profession }}</p>
            <p>Experience: {{ freelancer.experience }}</p>
            <p>Skills: {{ freelancer.skills }}</p>
            <p class="bottom_border">Cover letter: {{ freelancer.cover_letter }}</p>
        </li>


    {% empty %}
        <li>No freelancers available.</li>
    {% endfor %}
</form>

    </ul>
       </div>
  </div>





    <script src="{% static 'main/js/index.js' %}"></script>
    <script src="{% static 'main/js/burger.js' %}"></script>
</body>
</html>